.modal-box {
  background-color:  rgba(0, 0, 0, 0.7);
  position:fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-window {
  width: 70%;
  height: fit-content;
  max-height: 70%;
  background-color:  RGB(242, 194, 189);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.cart-title-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: RGB(230, 57, 45);
  color: RGB(251, 235, 37);
  padding: 15px;
  width: 100%;
}

.cart-title {
  margin: 0px 20px;
}

.close-button-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  background-color: RGB(242, 194, 189);
  border-top: 1px dashed red;
  width: 100%;
  padding: 15px;
}

.close-button {
  transition: all 0.2s !important;
}

.close-button:hover {
  transform: scale(1.2);
}