.cart-box {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
  /* border: 3px solid black; */
  margin-bottom: 20px;
  margin-left:auto;
}

a button{
  font-size: 1.5rem !important;
  background-color: rgb(230, 57, 45) !important;
  border: 0px !important;
  transition: all 0.3s !important;
}

button:hover {
  transform: scale(1.5) !important;
}