.item-buttons-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-cart-botton {
  margin-top: 20px;
  margin-bottom: 20px;
}

.item-count-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(220, 53, 68);
  border-radius: 15%;
  border-left: 0px;
  border-right: 0px;
}

.item-quantity {
  font-weight: bolder;
  padding: 0px 30px;
  margin-bottom: 0;
}

.available-stock-text {
  border-top: 1px dashed red;
  border-bottom: 1px dashed red;
  padding: 10px 0px;
  margin-top: 20px;
  width: 100%;
}

button:hover {
  transform: scale(1.3) !important;
}